.Alert {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: #721c24;
  background-color: #f5c6cb;
  border-color: #f5c6cb;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.AddItem {
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: block;
}

.AddItem h3 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}

.InputGroup {
  display: flex;
  align-items: stretch;
  width: 100%;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.InputItem {
  position: relative;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding-left: 1rem;
  font-size: 1.25rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: solid 1px #80cfa9;
}

.InputItem:focus {
  outline: 0;
  border: solid 2px #80cfa9;
}

.InputGroupAppend {
  margin-left: -1px;
}

.AddBtn {
  cursor: pointer;
  position: relative;
  z-index: 3;
  border: 1px solid transparent;
  border-color: #80cfa9;
  background: transparent;
  color: #80cfa9;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.AddBtn:hover {
  color: #333333;
  background: #80cfa9;
}

.AddBtn:focus {
  outline: 0;
  border: solid 2px #80cfa9;
}
